<div class="user-panel">
    <div class="pull-left image">
        <img src="{{ asset('bundles/oidnusadmintheme/img/user_160_dark.png') }}" class="img-circle" alt="User Image">
    </div>
    <div class="pull-left info">
        <p><a href="{{  path('fos_user_profile_show') }}">{{ app.user.username }}</a></p>
        <a href="{{  path('fos_user_profile_show') }}"><i class="fa fa-circle text-success"></i> Online</a>
    </div>
</div>
